*.suo
wordmeister-api/obj/
wordmeister-api/bin/
wordmeister-api/.vs/
*.ps1
*.cmd
*.cmd
*.json
*.csproj.user
wordmeister-api/Migrations/
wordmeister-api/UploadFiles/
wordmeister-api/Dockerfile
wordmeister-api/Logs
.dockerignore
wordmeister-api-test/obj/
wordmeister-api-test/bin/
.vs/
