<!DOCTYPE html>
<html>

<head>
</head>

<body align="center"
      style="text-align: center; font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif; background-color: #f9f9f9;">
    <table align="center"
           style="text-align: center; margin:0 auto; font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif; background-color: #fff; border: 1px solid #f9f9f9; border-collapse: collapse"
           cellspacing="0" cellpadding="0" width="800">
        <tbody>
            <tr>
                <td>
                    <table align="center"
                           style="text-align: center; margin:0 auto; font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif;"
                           cellspacing="0" cellpadding="10" width="800">
                        <tbody style="font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif;">
                            <tr align="center"
                                style="text-align: center; font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif;">
                                <td style="font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif; border-bottom: 1px solid #f2f2f2;">
                                    <img src="{WEBSITE_URL}/static/logo.svg" style="height: 100" height="100"
                                         title=" Logo" alt=" Logo">
                                </td>
                            </tr>
                            <tr style="font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif;">
                                <td style="font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="10"
                                           style="border-collapse: collapse;">
                                        <tbody style="font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif;">
                                            <tr style="font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif;">
                                                <th colspan="2" align="left"
                                                    style="font-weight: bold; font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif; font-size: 15px; margin-left: auto; margin-right: auto; text-align: left; color: #6F808A; line-height: 1.5;"
                                                    scope="row">Hello {FULLNAME}, </th>
                                            </tr>
                                            <tr style="font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif;">
                                                <th colspan="2" align="left"
                                                    style="font-weight: normal; font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif; font-size: 15px; margin-left: auto; margin-right: auto; text-align: left; color: #6F808A; line-height: 1.5;"
                                                    scope="row">
                                                    Someone, hopefully you, has requested to reset the
                                                    password for your {BRAND} account.
                                                    <br />
                                                    <br />
                                                    If you did not perform this request, you can safely ignore this
                                                    email.
                                                    <br />
                                                    <br />
                                                    Otherwise, click the link below to complete the process.
                                                </th>
                                            </tr>
                                            <tr style="font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif;">
                                                <th colspan="2" align="left"
                                                    style="font-weight: normal; font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif; font-size: 15px; margin-left: auto; margin-right: auto; text-align: left; color: #6F808A;"
                                                    scope="row">&nbsp;</th>
                                            </tr>
                                            <tr style="font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif;">
                                                <th width="auto" align="left">
                                                    <a align="center" href="{URL}">
                                                        {URL}
                                                    </a>
                                                </th>
                                                <td width="54%" align="left"
                                                    style="font-weight: normal; font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif; font-size: 15px; margin-left: auto; margin-right: auto; text-align: left; color: #6F808A; line-height: 1.5;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr style="font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif;">
                                                <th colspan="2" align="left"
                                                    style="font-weight: normal; font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif; font-size: 15px; margin-left: auto; margin-right: auto; text-align: left; color: #6F808A; line-height: 1.5;"
                                                    scope="row">&nbsp;</th>
                                            </tr>
                                            <tr style="font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif;">
                                                <th colspan="2" align="left"
                                                    style="font-weight: normal; font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif; font-size: 15px; margin-left: auto; margin-right: auto; text-align: left; color: #6F808A; line-height: 1.5;"
                                                    scope="row">Happy learning.</th>
                                            </tr>
                                            <tr style="font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif;">
                                                <th colspan="2" align="left"
                                                    style="text-decoration: none; font-weight: bold; font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif; font-size: 15px; margin-left: auto; margin-right: auto; text-align: left; color: #6F808A; line-height: 1.5;"
                                                    scope="row">
                                                    <a style="text-decoration: none; color: #6F808A;"
                                                       href="{LOGIN_URL}">
                                                        {BRAND}
                                                    </a>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="5">
                                        <tbody style="font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif;">
                                            <tr style="font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif;">
                                                <td colspan="2">&nbsp;</td>
                                            </tr>
                                            <tr style="font-family: 'Calibri', 'Myriad Pro', 'Arial', sans-serif;">
                                                <td width="50%" align="left" style="color:#6F808A;">
                                                    © {YEAR} {BRAND}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>